section {
    margin-bottom: 2em;
}

section:nth-of-type(1) {
    display: grid;
    min-height: 50svh;
    padding: 1em;
    word-break: break-word;
    color: var(--text-color-light);
    background-color: var(--black-color);
    background-repeat: no-repeat;
    background-size: cover;
    place-content: center;
}

h1, h2, .sub-title {
    text-align: center;
}

h1 {
    font-size: clamp(24px, 5vw, 50px);
    font-weight: 700;
    line-height: 1.2;
}

h2 {
    font-size: clamp(24px, 5vw, 40px);
}

.sub-title {
    font-size: clamp(18px, 5vw, 20px);
    font-weight: 400;
    line-height: 1.2;
    display: block;
    margin-top: 10px;
}

a.button {
    font-weight: 700;
    display: block;
    width: 100%;
    max-width: 350px;
    margin-top: 1em;
    transition: background-color 0.3s ease;
    text-align: center;
    color: var(--text-color-light);
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    margin-inline: auto;
    padding-block: 0.825em;
}

@media (any-hover: hover) {
    .button:hover {
        background-color: var(--primary-color-hover);
    }
}

.button:focus {
    background-color: var(--primary-color-hover);
}

.button:active {
    background-color: var(--primary-color-active);
}

.options {
    margin-top: 1em;
}

.option {
    display: grid;
    row-gap: 0.5em;
}

.option li {
    font-weight: 500;
    display: flex;
    align-items: start;
    justify-content: space-between;
    min-height: 70px;
}

.option__thumbnail-container {
    overflow: hidden;
    height: 180px;
}

.option__thumbnail-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (width > 768px) {
    .option__content {
        display: grid;
        column-gap: 1em;
        grid-template-columns: 0.8fr 0.2fr 1fr 1fr;
    }

    .option__titles {
        display: grid;
        align-items: baseline;
        column-gap: 1em;
        grid-template-columns: 0.8fr 0.2fr 1fr 1fr;
    }

    .option__titles h3 {
        font-size: 1.9em;
    }

    .option__titles h4:nth-of-type(1) {
        color: var(--gray-medium);
        grid-column-start: 3;
    }

    .option__titles h4:nth-of-type(2) {
        color: var(--secondary-color);
    }

    .option__thumbnail-container {
        border-radius: var(--border-radius);
    }
}

@media (width <= 768px) {
    .option__titles {
        display: none;
    }

    .option__thumbnail-container {
        position: relative;
        height: 300px;
        margin-bottom: 1em;
        margin-inline: -1em;
    }

    .option__content > :nth-child(1)::before {
        font-size: clamp(1.5em, 5vw, 2em);
        position: absolute;
        padding: 0.5em;
        content: attr(data-title);
        color: var(--text-color-light);
        border-bottom-right-radius: var(--border-radius);
        background-color: var(--secondary-color);
    }

    .option__content > :not(:nth-child(1))::before {
        font-size: clamp(1em, 5vw, 1.5em);
        font-weight: 700;
        display: block;
        margin-bottom: 1em;
        content: attr(data-title);
        border-bottom: 2px solid currentColor;
    }
}

.option__included {
    grid-column-start: 3;
}

.option__extra {
    color: var(--secondary-color);
}


.option__extra li > div :nth-child(2) {
    color: var(--gray-medium);
}

.prompt {
    position: relative;
    cursor: help;
}

.prompt:hover .prompt__text {
    transform: scale(1.0);
    pointer-events: auto;
    opacity: 1;
}

.prompt:hover .prompt__icon {
    stroke: var(--secondary-color);
}

.prompt__icon {
    width: 1.4em;
    height: 1.4em;
    transition: stroke 0.3s ease;
    stroke: var(--gray-medium);
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
}

.prompt__text {
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    width: 20em;
    padding: 1em;
    transition: transform .3s ease, opacity .3s ease;
    transform: scale(0.7);
    transform-origin: top right;
    pointer-events: none;
    opacity: 0;
    color: var(--text-color-dark);
    border-radius: var(--border-radius);
    background-color: var(--gray-light);
    box-shadow: 2px 2px 0 var(--gray-medium);

}

.prompt__text:before {
    position: absolute;
    top: -0.7em;
    right: 0.35em;
    content: '';
    border: 6px solid transparent;
    border-bottom-color: var(--gray-light);
}
