.form {
    display: grid;
    width: 100%;
    padding: 2em;
    border-radius: var(--border-radius);
    background-color: var(--white-color);
    box-shadow: 0 0.5em 1em var(--gray-medium);
    gap: 2em;
}

.form__title {
    text-align: center;
}

.form__group {
    position: relative;
}

.form__input {
    width: 100%;
    padding-bottom: 10px;
    transition: border-bottom-color 0.3s ease;
    border-bottom: 2px solid var(--gray-medium);
}

.form__input:-webkit-autofill,
.form__input:-webkit-autofill:hover,
.form__input:-webkit-autofill:focus {
    box-shadow: 0 0 0 50px var(--white-color) inset;
}

.form__input::-ms-clear {
    display: none;
}

.form__input:focus {
    border-bottom-color: var(--primary-color-hover);
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
    font-size: 14px;
    top: -24px;
    color: var(--primary-color-hover);
}

.form__input:not(:placeholder-shown) {
    border-bottom-color: var(--primary-color-hover);
}

.form__input.is-invalid {
    border-bottom-color: var(--invalid-color);
    background: url('/static/img/ico/danger.svg') no-repeat right top / 1.2em;
}

.form__input.is-invalid ~ .form__label {
    color: var(--invalid-color);
}

.form__input-invalid-feedback {
    font-size: 0.9em;
    color: var(--invalid-color);
    margin-block: 0.5em;
}

.form__input.is-valid {
    border-bottom-color: var(--valid-color);
    background: url('/static/img/ico/success.svg') no-repeat right top / 1.2em;
}

.form__input.is-valid ~ .form__label {
    color: var(--valid-color);
}

.form__label {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
    color: var(--gray-medium);
}

.form__footer {
    display: grid;
    gap: 1em;
}

.form__button {
    font-weight: 600;
    display: block;
    width: 100%;
    transition: background-color 0.3s ease;
    color: var(--text-color-light);
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    padding-block: 0.825em;
}

@media (any-hover: hover) {
    .form__button:hover {
        background-color: var(--primary-color-hover);
    }

    .form__link:hover {
        text-decoration: underline;
        color: var(--primary-color-hover);
    }
}

.form__button:focus {
    background-color: var(--primary-color-hover);
}

.form__button:active {
    background-color: var(--primary-color-active);
}

.form__link {
    transition: color 0.3s ease;
    color: var(--primary-color);
}

.form__link:focus {
    text-decoration: underline;
    color: var(--primary-color-hover);
}
